
.news-table-row {

}

.news-table-row:hover {
	background-color: rgba(0,0,0,0.1);
}

table > tbody > tr.news-table-row > td {
	padding: 0px;
}

.news-table-row > td > a {
	width: 100%;
	height: 100%;
	display: block;
	color: inherit;
	padding: 8px;
}

.news-table-row > td > a:hover {
	text-decoration: none;
}

.ui-tooltip.news-tooltip {
	max-width: 770px;
	background-color: rgb(234, 237, 245);
}

.news-tooltip-content img {
		float: right;
		margin: 5px;
}
