.numbers-wrapper {
	position: relative;
}

.numbers-item {
	cursor: pointer;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #eee;
	border: 1px solid #e0e0e0;
	margin: 5px;
	font-size: 20px;
}

.numbers-item:hover {
	background-color: #e0e0e0;
	border-color: #ccc;
}

.numbers-item-phantom {
	height: 100px;
	width: 100px;
	margin: 5px;
}

.numbers-item.moving {
	position: absolute;
}